@model Ejercicio_6_1.Models.StarshipViewModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class="container">
      
            @Html.Label(Model.name, new { @class = "form-control" })
            @Html.Label(Model.length, new { @class = "form-control" })
            @Html.LabelFor(m => m.manufacturer, Model.manufacturer, new { @class = "form-control" })
            @Html.LabelFor(m => m.cost_in_credits, new { @class = "form-control" })
            @Html.LabelFor(m => m.length, new { @class = "form-control" })
            @Html.LabelFor(m => m.max_atmosphering_speed, new { @class = "form-control" })
            @Html.LabelFor(m => m.crew, new { @class = "form-control" })
            @Html.LabelFor(m => m.passengers, new { @class = "form-control" })
            @Html.LabelFor(m => m.cargo_capacity, new { @class = "form-control" })
            @Html.LabelFor(m => m.consumables, new { @class = "form-control" })
            @Html.LabelFor(m => m.hyperdrive_rating, new { @class = "form-control" })
            @Html.LabelFor(m => m.starship_class, new { @class = "form-control" })
            @Html.LabelFor(m => m.created, new { @class = "form-control" })
            @Html.LabelFor(m => m.edited, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Submit</button>
     
    </div>
</body>
</html>
