@model List<Ejercicio_5.Models.EmployeeView>

@{
    ViewBag.Title = "Index";
}



<body>
  
    <div class="container">
        <h2>Empleados Londinenses</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Posición</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ejercicio_5.Models.EmployeeView employees in Model)
                {
                    <tr>

                        <td>@employees.FirstName</td>
                        <td>@employees.LastName</td>
                        <td>@employees.Title</td>
                    </tr>
                }
            </tbody>
        </table>

        <input type="submit" class="btn btn-primary" value="Insertar" formmethod="@Url.Action("Insert","Employee")"/>
        <input type="submit" class="btn btn-success" value="Cambiar"  formmethod="@Url.Action()"/>
        <input type="submit" class="btn btn-danger"  value="Borrar"/>


    </div>
</body>






